<div *ngIf="!isevent" style="text-align: center; padding: 10">
  <img
    src="https://anynews-production.s3.ap-south-1.amazonaws.com/comingsoon.png"
    class="bhagavan"
  />
  <h4 style="color: #dd4328">
    <b><i>WE ARE ALL MOST THERE</i></b>
  </h4>
</div>
<div *ngIf="isevent">
  <div class="leaderboard">
    <h1>
      <!-- <img
        src="./../../assets/images/success.png"
        width="30px" height="40px"
      /> -->
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Most active Players
    </h1>
    <ol>
      <li *ngFor="let item of leaderboard">
        <mark>{{ item.name != undefined ? item.name : "--" }}</mark>
        <small>{{ item.score != undefined ? item.score : "0" }}</small>
      </li>
    </ol>
  </div>
  <div *ngIf="!isquizpage">
    <button class="btn"><i class="fa fa-home"></i> Start Quiz</button>
  </div>
  <div *ngIf="isquizpage">Quiz Start at 7:00 PM</div>
</div>
