html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fontil Sans';
    background-color: rgb(250, 250, 250); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container {
    position: absolute;
    top: 64px;
    left: 205px;
    right: 0;
    bottom: 0;
    padding: 20px;
    

}

.mb-20 {
    margin-bottom: 20px;
}
